{{ partial "header" . }}
<article>
	<header>
		{{ partial "title" . }}
		{{ with .Content }}{{.}}{{ end }}
	</header>
	{{ $latestcount := .Site.Params.LatestCount | default 3 }}
	{{ $paginator := .Paginate (where site.RegularPages "Section" site.Params.postSection) }}
	<section>
		<ul class="no-bullet">
			{{ range $paginator.Pages }}
			{{ partial "li" . }}
			{{ end }}
		</ul>
        {{ partial "paginator" . }}
	</section>

	{{ $pages := where site.RegularPages "Type" "in" .Site.Params.WorkSections }}
	{{ if ne (len $pages) 0 }}
	<section>
		<h4>{{ T "latestWork" }}</h4>
		<ul class="no-bullet">
			{{- range (first $latestcount $pages) -}}
			{{ partial "li" . }}
			{{- end -}}
		</ul>
	</section>
	{{ end }}
</article>
{{ partial "footer" . }}
